/* easy-chat的公共布局样式文件 */

/* flex 布局 */
.im-flex {
	/* #ifndef APP-PLUS-NVUE */
	display:flex;
	/* #endif */
	flex-direction:row;
}

.im-flex-row{ flex-direction:row!important; }
.im-flex-column{ flex-direction:column!important; }
.im-flex-row-reverse{ flex-direction:row-reverse!important; }
.im-flex-column-reverse{ flex-direction:column-reverse!important; }
.im-flex-wrap{ flex-wrap:wrap;}
.im-flex-nowrap{ flex-wrap:nowrap;}
.im-justify-start{justify-content:flex-start;}
.im-justify-end{justify-content:flex-end;}
.im-justify-between{justify-content:space-between;}
.im-justify-around{justify-content: space-around;}
.im-justify-center{justify-content:center;}
.im-align-center{ align-items: center; }
.im-align-stretch{ align-items: stretch; }
.im-align-start{ align-items: flex-start; }
.im-align-end{ align-items: flex-end; }

.im-content-start {align-content: flex-start;}
.im-content-end {align-content: flex-end;}
.im-content-center {align-content: center;}
.im-content-between {align-content: space-between;}
.im-content-around {align-content: space-around;}
.im-content-stretch {align-content: stretch;}

.im-flex-1{ flex: 1; }
.im-flex-2{ flex: 2; }
.im-flex-3{ flex: 3; }
.im-flex-4{ flex: 4; }
.im-flex-5{ flex: 5; }

/*  -- 内外边距 -- */
.im-m-0 { margin: 0; }
.im-m-auto{ margin: auto; }
.im-m-1 { margin: 10rpx; }
.im-m-2 { margin: 20rpx; }
.im-m-3 { margin: 30rpx; }
.im-m-4 { margin: 40rpx; }
.im-m-5 { margin: 50rpx; }
.im-mt-0 { margin-top: 0; }
.im-mt-auto { margin-top: auto; }
.im-mt-1 { margin-top: 10rpx; }
.im-mt-2 { margin-top: 20rpx; }
.im-mt-3 { margin-top: 30rpx; }
.im-mt-4 { margin-top: 40rpx; }
.im-mt-5 { margin-top: 50rpx; }
.im-mb-0 { margin-bottom: 0; }
.im-mb-auto { margin-bottom: auto; }
.im-mb-1 { margin-bottom: 10rpx; }
.im-mb-2 { margin-bottom: 20rpx; }
.im-mb-3 { margin-bottom: 30rpx; }
.im-mb-4 { margin-bottom: 40rpx; }
.im-mb-5 { margin-bottom: 50rpx; }
.im-ml-0 { margin-left: 0; }
.im-ml-auto { margin-left: auto; }
.im-ml-1 { margin-left: 10rpx; }
.im-ml-2 { margin-left: 20rpx; }
.im-ml-3 { margin-left: 30rpx; }
.im-ml-4 { margin-left: 40rpx; }
.im-ml-5 { margin-left: 50rpx; }
.im-mr-0 { margin-right: 0; }
.im-mr-auto { margin-right: auto; }
.im-mr-1 { margin-right: 10rpx; }
.im-mr-2 { margin-right: 20rpx; }
.im-mr-3 { margin-right: 30rpx; }
.im-mr-4 { margin-right: 40rpx; }
.im-mr-5 { margin-right: 50rpx; }
.im-my-0 { margin-top: 0; margin-bottom: 0; }
.im-my-auto { margin-top: auto; margin-bottom: auto; }
.im-my-1 { margin-top: 10rpx; margin-bottom: 10rpx; }
.im-my-2 { margin-top: 20rpx; margin-bottom: 20rpx; }
.im-my-3 { margin-top: 30rpx; margin-bottom: 30rpx; }
.im-my-4 { margin-top: 40rpx; margin-bottom: 40rpx; }
.im-my-5 { margin-top: 50rpx; margin-bottom: 50rpx; }
.im-mx-0 { margin-left: 0; margin-right: 0; }
.im-mx-auto { margin-left: auto; margin-right: auto; }
.im-mx-1 { margin-left: 10rpx; margin-right: 10rpx;}
.im-mx-2 { margin-left: 20rpx; margin-right: 20rpx;}
.im-mx-3 { margin-left: 30rpx; margin-right: 30rpx;}
.im-mx-4 { margin-left: 40rpx; margin-right: 40rpx;}
.im-mx-5 { margin-left: 50rpx; margin-right: 50rpx;}

.im-p-0 { padding: 0; }
.im-p { padding: 5rpx; }
.im-p-1 { padding: 10rpx; }
.im-p-2 { padding: 20rpx; }
.im-p-3 { padding: 30rpx; }
.im-p-4 { padding: 40rpx; }
.im-p-5 { padding: 50rpx; }
.im-pt-0 { padding-top: 0; }
.im-pt { padding-top: 5rpx; }
.im-pt-1 { padding-top: 10rpx; }
.im-pt-2 { padding-top: 20rpx; }
.im-pt-3 { padding-top: 30rpx; }
.im-pt-4 { padding-top: 40rpx; }
.im-pt-5 { padding-top: 50rpx; }
.im-pb-0 { padding-bottom: 0; }
.im-pb-1 { padding-bottom: 10rpx; }
.im-pb { padding-bottom: 5rpx; }
.im-pb-2 { padding-bottom: 20rpx; }
.im-pb-3 { padding-bottom: 30rpx; }
.im-pb-4 { padding-bottom: 40rpx; }
.im-pb-5 { padding-bottom: 50rpx; }
.im-pl-0 { padding-left: 0; }
.im-pl { padding-left: 5rpx; }
.im-pl-1 { padding-left: 10rpx; }
.im-pl-2 { padding-left: 20rpx; }
.im-pl-3 { padding-left: 30rpx; }
.im-pl-4 { padding-left: 40rpx; }
.im-pl-5 { padding-left: 50rpx; }
.im-pr-0 { padding-right: 0; }
.im-pr { padding-right: 5rpx; }
.im-pr-1 { padding-right: 10rpx; }
.im-pr-2 { padding-right: 20rpx; }
.im-pr-3 { padding-right: 30rpx; }
.im-pr-4 { padding-right: 40rpx; }
.im-pr-5 { padding-right: 50rpx; }
.im-py-0 { padding-top: 0; padding-bottom: 0; }
.im-py { padding-top: 5rpx; padding-bottom: 5rpx; }
.im-py-1 { padding-top: 10rpx; padding-bottom: 10rpx; }
.im-py-2 { padding-top: 20rpx; padding-bottom: 20rpx; }
.im-py-3 { padding-top: 30rpx; padding-bottom: 30rpx; }
.im-py-4 { padding-top: 40rpx; padding-bottom: 40rpx; }
.im-py-5 { padding-top: 50rpx; padding-bottom: 50rpx; }
.im-px-0 { padding-left: 0; padding-right: 0; }
.im-px-1 { padding-left: 10rpx; padding-right: 10rpx;}
.im-px { padding-left: 5rpx; padding-right: 5rpx;}
.im-px-2 { padding-left: 20rpx; padding-right: 20rpx;}
.im-px-3 { padding-left: 30rpx; padding-right: 30rpx;}
.im-px-4 { padding-left: 40rpx; padding-right: 40rpx;}
.im-px-5 { padding-left: 50rpx; padding-right: 50rpx;}

/* 文字大小 */
.im-font-15 { font-size:15rpx;}
.im-font-20 { font-size: 20upx;}
.im-font-22 {font-size: 22upx;}
.im-font-23 { font-size:23rpx;}
.im-font-25 { font-size: 25upx;}
.im-font-28 { font-size: 28upx;}
.im-font-30 {font-size: 30upx;}
.im-font-32 { font-size: 32upx;}
.im-font-33 {font-size: 33rpx;}
.im-font-34 { font-size:34rpx;}
.im-font-36 { font-size: 36upx;}
.im-font-38 { font-size:38rpx;}
.im-font-46 { font-size:46rpx;}
.im-font-48 { font-size:48rpx;}
